<%- include('header') -%>
    <div class="box" id="heading">
        <h1><%=currentPatient ? 'current patient is ' + currentPatient.name : 'Queue is empty'%>
        </h1>
    </div>
    <div class="box">


        <form action="/api/doctor" method="POST" class="item">
            <input type="text" name="resolution" placeholder="resolution" autofocus autocomplete="off">
            <button type="submit" value="<%=currentPatient%>">Add</button>

        </form>
    </div>
    </div>

    <div class="box">


        <form action="/api/doctor" method="GET" class="item">
            <input type="text" name="patient" placeholder="enter name" autocomplete="off">
            <button type="submit">find</button>
        </form>
    </div>

    <div class="box">


        <form action="/api/doctor/delete" method="POST" class="item">
            <input type="hidden" name="patient" value="<%=currentDiagnose?.name%>" placeholder="enter name"
                autocomplete="off">
            <button type="submit">delete</button>

        </form>
    </div>
    </div>




    <div>

        <p>
            <% if (currentDiagnose) { %>
                diagnose for <%=currentDiagnose.name%> is <%= currentDiagnose?.diagnose %>
                        <%}%>
        </p>
    </div>

    </div>